body{
    margin: 0;
    background-color: white;
  }
  a {
    color: black;
    text-decoration: none;
  }

  h1 {
    font-size: 50px;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 25px;
    background-color: darkgray;
    position: sticky;
    top: 0px;
  }

  #_mook{
    border-right: 1px solid black;
    width: 150px;
    margin: 0;
    padding: 20px;
  }

  #grid{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
  }

  #grid ol{
    padding-left: 30px;
  }

  .bottom_btn_1{
    padding-left: 20px;
    float: left;
  }

  #bonmoon{
    padding-left: 25px;
  }
  #sen{
    border-bottom: 1px solid black;
  }
  #bo{
    margin: 30px;
    text-align: center;
    font-size: 12px;
    color: gray;
  }

  #_main-btn-1{
    padding-top: 1px;
    padding-bottom: 40px;
  }

  ._btn-1{
    background-color: gray;
    padding: 10px 25px;
    color: white;
    text-align: center;
    font-size: 15px;
    float: left;
    border-radius: 8px;
    font-weight: bold;
  }

  ._btn-2{
    background-color: white;
    padding: 10px 25px;
    color: black;
    text-align: center;
    font-size: 15px;
    float: left;
    border-radius: 8px;
    font-weight: bold;
  }

  @media(max-width: 750px){
      #grid{
      display: block;
    }
    #_mook{
      border-right: none;
    }
    h1{
      border-bottom: none;
    }
    p{
        font-size: 20px;
    }
  }